<!DOCTYPE HTML>
<!--
	Synchronous by TEMPLATED
    templated.co 
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Synchronous by TEMPLATED</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/skel-panels.min.js"></script>
    <script src="~/js/init.js"></script>
    
        <link rel="stylesheet" href="~/css/skel-noscript.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
</head>
<body>
    <div id="wrapper">

        <!-- Header -->
        <div id="header">
            <div class="container">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="#">นโยบายความเป็นส่วนตัว</a></h1>
                    <span>
                        บริษัท เอพี (ไทยแลนด์)
                        จำกัด (มหาชน)
                    </span>
                </div>

            </div>
        </div>
        <!-- /Header -->

        <div id="page">
            <div class="container">
                <div class="row">
                    <div class="12u">
                        <section id="content">
                            <header>
                                <h2>นโยบายความเป็นส่วนตัวของบริษัทสำหรับการใช้งาน <br /> แอพพลิเคชั่น AP FAMILY</h2>
                            </header>
                            <p>
                                โปรดอ่านและทำความเข้าใจนโยบายความเป็นส่วนตัวนี้อย่างละเอียด การที่ท่านได้ติดตั้ง และ/หรือเข้าใช้งานแอพพลิเคชั่นนี้แล้ว ถือว่าท่านตกลงยอมรับข้อกำหนดที่ระบุในนโยบายความเป็นส่วนตัวนี้แล้วทุกประการ หากท่านไม่สามารถยอมรับข้อกำหนดนโยบายความเป็นส่วนตัวนี้ได้ ขอให้ท่านปฏิเสธการใช้งานแอพพลิเคชั่นโดยถอนการติดตั้งแอพพลิเคชั่นจากเครื่องโทรศัพท์เคลื่อนที่/อุปกรณ์ดิจิตอลของท่านทันที
                            </p>
                            <p>
                                1. วัตถุประสงค์ของนโยบายความเป็นส่วนตัว
                            </p>
                            <p>
                                ในการใช้งานแอพพลิเคชั่นนี้ บริษัทมีความประสงค์ที่จะแจ้งให้ท่านทราบอย่างชัดเจนว่าบริษัทรวบรวมข้อมูลอะไรของท่านบ้าง มีวิธีการใช้และแบ่งปันข้อมูลของท่านอย่างไร นโยบายความเป็นส่วนตัวนี้จะอธิบายถึง
                                <br />- ข้อมูลที่รวบรวมและเหตุผลที่รวบรวม <br /> - การใช้ข้อมูลที่รวบรวม <br />
                                บริษัทจะใช้ข้อมูลที่รวบรวมจากแอพพลิเคชั่นทั้งหมดของบริษัท เพื่อให้บริการ งานด้านระบบ HR เรื่องการบันทึกเวลาเข้า ออกงาน การแจ้งย้ายโครงการ ร่วมถึงการแจ้งข่าวสารเกี่ยวกับบริษัท ตลอดจนประชาสัมพันธ์ข่าวสารที่น่าสนใจและเป็นประโยชน์แก่ท่าน
                                บริษัทอาจใช้ข้อมูลที่รวบรวมได้จากคุกกี้และเทคโนโลยีอื่นๆ เช่น การใช้ Tag เป็นต้น ในการปรับปรุงประสบการณ์การใช้งานของท่าน และคุณภาพโดยรวมของแอพพลิเคชั่น
                            </p>
                            <p>ข้อมูลที่แบ่งปัน</p>
                            <p>
                                บริษัทจะไม่นำข้อมูลของท่านไปแบ่งปันหรือเปิดเผยให้กับบริษัท และ/หรือองค์กรอื่น และ/หรือบุคคลภายนอก ยกเว้นกรณี ดังต่อไปนี้ <br />
                                - เมื่อได้รับความยินยอมจากท่าน บริษัทอาจแบ่งปันหรือเปิดเผยข้อมูลส่วนบุคคลของท่านกับบริษัท และ/หรือองค์กรอื่น และ/หรือบุคคลภายนอก เมื่อได้รับความยิมยอมจากท่านให้แบ่งปันหรือเปิดเผยข้อมูลส่วนบุคคลที่ละเอียดอ่อนของท่านก่อน <br />
                                - เพื่อ “การใช้ข้อมูลที่รวบรวม”บริษัทอาจแบ่งปันหรือเปิดเผยข้อมูลส่วนบุคคลของท่านกับบริษัทในเครือ บริษัทในกลุ่ม ตลอดจนคู่สัญญาที่มีหน้าที่บริหารจัดการแอพพลิเคชั่นตามสัญญากับบริษัทโดยตรง หรือบริษัทอื่นที่มีนโยบายเกี่ยวกับข้อมูลส่วนบุคคลที่น่าเชื่อถือ เพื่อให้บริการ บำรุงรักษา ป้องกัน ปรับปรุง พัฒนาบริการใหม่ๆ และปกป้องบริษัทและท่าน <br /></br.>
                                สำหรับเหตุผลทางกฎหมาย บริษัทอาจแบ่งปันหรือเปิดเผยข้อมูลของท่านกับบริษัท และ/หรือองค์กรอื่น และ/หรือบุคคลภายนอก หากบริษัทเชื่อโดยสุจริตว่าการเข้าถึง การใช้ การเก็บรักษา หรือการเปิดเผยข้อมูลนั้น มีเหตุจำป็นอันสมควร (1) เพื่อการปฏิบัติตามกฎหมาย ระเบียบข้อบังคับ หลักเกณฑ์ คำสั่งที่เกี่ยวข้องและการร้องขอข้อมูลจากทางราชการ (2) เพื่อบังคับใช้ข้อกำหนดในการให้บริการที่เกี่ยวข้อง รวมถึงการตรวจสอบการละเมิดที่อาจเกิดขึ้น (3) เพื่อตรวจจับ ป้องกัน หรือตรวจสอบการทุจริต ปัญหาด้านความปลอดภัยหรือด้านเทคนิค (4) เพื่อป้องกันอันตรายต่อสิทธิ ทรัพย์สิน หรือความปลอดภัยของบริษัทและ/หรือของท่าน หรือบุคคลอื่นตามที่กฎหมายกำหนด
                            </p>
                            <p>หากบริษัทมีการเปลี่ยนแปลงโครงสร้างการบริหารงาน เช่น การควบรวมกิจการ การได้มา หรือการขายสินทรัพย์ บริษัทจะยังคงรักษาข้อมูลส่วนบุคคลใดๆ ให้เป็นความลับ และแจ้งให้ผู้ใช้งานแอพพลิเคชั่นที่ได้รับผลกระทบทราบก่อนการโอนข้อมูลส่วนบุคคล หรือให้ข้อมูลส่วนบุคคลนั้นอยู่ภายใต้นโยบายความเป็นส่วนตัวอื่นๆ </p>
                            <p>2. ความปลอดภัยของข้อมูล </p>
                            <p>
                                บริษัทพยายามอย่างยิ่งที่จะปกป้องข้อมูลของท่านจากการเข้าถึง การแก้ไขเปลี่ยนแปลง การเปิดเผย หรือการทำลายโดยไม่ได้รับอนุญาต อย่างน้อยดังนี้ <br />
                                - บริษัทจัดทำระบบให้ระบุตัวตนเพื่อเข้าใช้งาน เพื่อใช้ยืนยันผู้ใช้งานแอพพลิเคชั่น <br />
                                - บริษัทตรวจสอบการเก็บรวบรวมข้อมูล และหลักปฏิบัติในการประมวลผล รวมถึงมาตรการความปลอดภัยทางกายภาพ เพื่อป้องกันการเข้าถึงข้อมูลโดยไม่ได้รับอนุญาต<br />
                                - บริษัทจำกัดการเข้าถึงข้อมูลส่วนบุคคลไว้เฉพาะกับพนักงาน ลูกจ้าง และตัวแทนของบริษัท ที่มีความจำเป็นต้องเข้าถึงข้อมูลนั้นๆ (Need to Know Basis) เพื่อทำการประมวลผลข้อมูล โดยที่บุคคลดังกล่าวนั้น จะต้องปฏิบัติตามข้อกำหนดเกี่ยวกับการรักษาข้อมูลที่เป็นความลับตามสัญญาอย่างเคร่งครัด หากฝ่าฝืนจะมีบทลงโทษขั้นรุนแรง
                            </p>
                            <p>3. ข้อจำกัดการใช้นโยบายความเป็นส่วนตัว </p>
                            <p>นโยบายความเป็นส่วนตัวฉบับนี้ มีผลใช้บังคับกับแอพพลิเคชั่นนี้เท่านั้น ไม่รวมถึงแอพพลิเคชั่นและ/หรือบริการที่มีนโยบายความเป็นส่วนตัว แยกต่างหาก และ/หรือที่ไม่ได้กำหนดโดยชัดแจ้งให้ใช้ร่วมกันกับนโยบายความเป็นส่วนตัวนี้ ตลอดจนไม่มีผลใช้บังคับกับแอพพลิเคชั่นและบริการ หรือเว็บไซต์อื่นๆ ที่เชื่อมต่อ (link) กับแอพพลิเคชั่นนี้ รวมถึงไม่ครอบคลุมหลักปฏิบัติ ด้านข้อมูลส่วนบุคคลของบริษัทอื่นๆ หรือองค์กรอื่นๆ ที่โฆษณาแอพพลิเคชั่นของบริษัท ซึ่งอาจใช้คุกกี้ พิกเซลแท็ก และเทคโนโลยีอื่นๆ ในการนำเสนอและแสดงโฆษณาที่เกี่ยวข้อง </p>
                            <p>4. การปฏิบัติตามกฎหมายและการให้ความร่วมมือกับหน่วยงานกำกับดูแล </p>
                            <p>บริษัทดำเนินการตรวจสอบและทบทวนการปฏิบัติตามนโยบายความเป็นส่วนตัว และการปฏิบัติตามกฎหมายที่เกี่ยวข้อง ภายในองค์กรอย่างสม่ำเสมอ (Self-Regulator) หากบริษัทได้รับหนังสือร้องเรียนเกี่ยวกับการใช้ข้อมูลส่วนบุคคล บริษัทจะดำเนินการติดตามผล ตลอดจนให้ความร่วมมือกับหน่วยงานของรัฐที่มีอำนาจกำกับดูแลการให้บริการแอพพลิเคชั่น และหน่วยงานคุ้มครองผู้บริโภคต่างๆ</p>
                            <p>5. การเปลี่ยนแปลงนโยบายความเป็นส่วนตัว </p>
                            <p>บริษัทขอสงวนสิทธิ์ในการแก้ไขเปลี่ยนแปลงนโยบายความเป็นส่วนตัวนี้ได้ตลอดเวลา โดยไม่ต้องได้รับความยินยอมจากท่านล่วงหน้า เว้นแต่เป็นการแก้ไขเปลี่ยนแปลงที่เป็นการริดรอนสิทธิของท่านตามนโยบายความเป็นส่วนตัวนี้ บริษัทจะกระทำมิได้หากไม่ได้รับความยินยอมจากท่านก่อน </p>
                            <p>6. การเข้าถึงและอัปเดตข้อมูลส่วนบุคคล</p>
                            <p>
                                บริษัทมุ่งหวังเป็นอย่างยิ่งว่า ในการใช้แอพพลิเคชั่น ท่านสามารถเข้าถึงข้อมูลส่วนบุคคลของท่านได้ หากข้อมูลดังกล่าวมีความบกพร่องหรือไม่ถูกต้อง บริษัทจะพยายามจัดหาวิธีการ และ/หรือช่องทางให้ท่านสามารถอัปเดตและ/หรือลบข้อมูลส่วนบุคคลของท่านได้อย่างเหมาะสม เว้นแต่ ในกรณีมีความจำเป็นที่บริษัทจะต้องจัดเก็บข้อมูลส่วนบุคคลของท่านไว้ เพื่อประโยชน์ทางธุรกิจ และ/หรือเพื่อการปฏิบัติตามกฎหมายที่ใช้บังคับ เมื่อท่านดำเนินการอัปเดตข้อมูลส่วนบุคคลของท่าน บริษัทอาจร้องขอให้ท่านยืนยันตัวตนก่อนที่บริษัทจะดำเนินการตามคำขอของท่านได้ ทั้งนี้ บริษัทขอสงวนสิทธิ์ปฏิเสธการทำคำขออัปเดตและการเข้าถึงข้อมูลส่วนบุคคลของท่าน ในกรณีดังต่อไปนี้ (1) การทำคำขอที่ซับซ้อนและมีจำนวนมากเกินกว่าปกติ (2) การดำเนินการตามคำขออาจทำให้บริษัทต้องจัดหา และ/หรือพัฒนาเทคโนโลยีจากที่บริษัทมีอยู่เกินสมควร (3) การดำเนินการตามคำขออาจกระทบข้อมูลส่วนบุคคลของผู้ใช้งานแอพพลิเคชั่นอื่นๆ หรือ (4) การดำเนินการตามคำขอไม่สามารถปฏิบัติได้จริง เช่น คำขอเกี่ยวกับการเรียกดูข้อมูลส่วนบุคคลที่อยู่ในระบบสำรองข้อมูล
                                บริษัทมุ่งหวังที่จะดำเนินการให้บริการแอพพลิเคชั่นของบริษัทเป็นไปอย่างปลอดภัย และสามารถป้องกันการทำลายข้อมูลจากอุบัติเหตุหรือการมุ่งร้ายอื่นๆ ด้วยเหตุนี้ ภายหลังจากที่ท่านลบข้อมูลออกจากแอพพลิเคชั่นของบริษัทแล้ว บริษัทอาจยังไม่ดำเนินการลบสำเนาข้อมูลส่วนบุคคลที่มีอยู่ออกจากเซิร์ฟเวอร์ที่ใช้งานอยู่ หรือนำข้อมูลออกจากระบบสำรองของบริษัทในทันที
                            </p>
                            <header>
                                <h2><b>ข้อมูลที่รวบรวมและเหตุผลที่รวบรวม</b></h2>
                            </header>
                            <p>
                                “AP FAMILY แอพพลิเคชั่นที่ใช้ในการลงเวลาเข้า/ออก งาน เพื่อให้ทางบริษัทฯ มีข้อมูลการลงเวลาเข้างาน และพนักงาน สามารถตรวจสอบข้อมูลเบื้องต้นได้”
                                บริษัทเก็บรวบรวมข้อมูล เพื่อนำข้อมูลมาใช้ในการคำนวณเวลาการเข้างาน/สาย/ขาดงาน เป็นต้น ด้วยวิธีดังต่อไปนี้
                                ข้อมูลที่ท่านให้บริษัท ประกอบด้วยข้อมูลอย่างน้อยดังนี้
                            </p>
                            <p>
                                (1) ข้อมูลเครื่องโทรศัพท์เคลื่อนที่/อุปกรณ์ดิจิตอล : บริษัทจะรวบรวมข้อมูลเฉพาะของอุปกรณ์ เช่น รุ่นฮาร์ดแวร์ ระบบปฏิบัติการและรุ่นของระบบปฏิบัติการ ข้อมูลเครือข่ายโทรศัพท์เคลื่อนที่ หมายเลขโทรศัพท์ ตลอดจนตัวระบุอุปกรณ์ที่ทำให้บริษัททราบว่าท่านเข้าใช้งานแอพพลิเคชั่นจากเครื่องใด เพื่อนำไปวิเคราะห์และดำเนินการด้านการให้บริการ และงาน HR <br />
                                (2) ข้อมูลที่ถูกบันทึก : เมื่อท่านเรียกดูข้อมูลและ/หรือเนื้อหาจากแอพพลิเคชั่นนี้ บริษัทจะบันทึกการเรียกดูข้อมูลและ/หรือเนื้อหาดังกล่าวไว้ในแหล่งรวบรวมดังต่อไปนี้ ในเซิร์ฟเวอร์ของบริษัทเอง และ/หรือของบริษัทในเครือ และ/หรือของคู่สัญญาที่เชื่อถือได้ของบริษัทที่ทำหน้าที่บริหารจัดการข้อมูลในแอพพลิเคชั่นตามสัญญา <br />
                                - เพื่อช่วยในการแสดงข้อมูลการเข้า/ออกงานได้ถูกต้อง
                                (3) ข้อมูลสถานะของเครื่องโทรศัพท์เคลื่อนที่ (Phone State) : บริษัทอาจเข้าถึงและประมวลผลข้อมูลเกี่ยวกับสถานะการทำงานของเครื่องโทรศัพท์เคลื่อนที่ของท่านว่าเปิดGPS, Bluetooth  และ/หรือข้อมูลเกี่ยวกับการเชื่อมต่อเครือข่าย เช่น เลือกเชื่อมต่อผ่านเครือข่ายโทรศัพท์เคลื่อนที่ หรือระบบ Wi-Fi เป็นต้น วัตถุประสงค์ดังนี้ <br />
                                - เพื่อให้สามารถตรวจสอบได้ว่าท่านใช้งานระบบอยู่ที่พื้นที่ไหน <br />
                                - เพื่อให้ท่านสามารถค้นหาอุปกรณ์ Beacon ที่เป็นจุดการลงบันทึกเวลาเจอ<br />
                                (4) ข้อมูลกล้องถ่ายรูป (Camera) : เมื่อท่านใช้งานแอพพลิเคชั่นนี้ บริษัทอาจเข้าถึงรวบรวม และประมวลผลข้อมูลรูปถ่าย วิดีโอ และสถานที่ของรูปถ่ายและ/หรือวิดีโอของท่าน วัตถุประสงค์ดังนี้ <br />
                                - เพื่อใช้ในการตรวจสอบตัวตน และสถานที่การใช้งาน
                            </p>

                        </section>
                    </div>
                </div>

            </div>
        </div>

        <!-- Copyright -->
        <div id="copyright">
            <div class="container">
                Design: <a href="http://templated.co">TEMPLATED</a> Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
            </div>
        </div>

    </div>
</body>
</html>